.report-input {
            float: left;
            height: auto;
            min-height: 400px;
            margin: 4px 15px auto 4px;
            padding: 5px;
            vertical-align: top;
        }

        .report-input ul {
            display: inline-block;
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

            .report-input ul li {
                display: block;
                height: 30px;
            }

                .report-input ul li input[type="text"] {
                    margin: 0px 2px 0px 0px;
                }

        .deleteDatePicker {
            margin: 0px 0px 0px 5px;
        }

        .report-output {
            /*display: inline-block;*/
            width: auto;
            /*height: 100vh;*/
            overflow: auto;
            /*border: 1px solid rgba(0, 0, 0, 0.2);*/
        }