.table-input {
    border-collapse: collapse;
}

.table-input td:nth-child(1) {
    width: 300px;
}

.table-input tr {
    height: 35px;
}

.table-input thead td {
    color: rgba(0, 0, 0, 0.5);
}

.form-input {
    padding: 10px;
	/*vertical-align: top;*/
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
}

.form-input td {
    padding: 10px;
    /*vertical-align: top;*/
}

.form-input input {
    width: 400px;
    padding: 10px;
    font-size: 13px;
}

.form-command button {
    width: 100px;
    padding: 10px;
    margin: 10px;
}

.form-command {
    display: inline-block;
}

.form-command-container {
    padding: 10px;
    /*text-align: right;*/
}

button.command-green {
    border: 2px solid #2ecc71;
    background: rgba(255, 255, 255, 1);
    font-size: 13px;
}

button.command-green:hover {
    border: 2px solid #2ecc71;
    background: #2ecc71;
    color: rgba(255, 255, 255, 1);
}

button.command-red {
    border: 2px solid #e74c3c;
    background: rgba(255, 255, 255, 1);
    font-size: 13px;
}

button.command-red:hover {
    border: 2px solid #e74c3c;
    background: #e74c3c;
    color: rgba(255, 255, 255, 1);
}
