
@{
    ViewBag.Title = "TemperatureDaily";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <script>
        var serviceUrl = '@Horizoft.Relay.Web.Providers.ConfigProvider.ServiceUrl';
    </script>

    <script type="text/javascript" src="~/AppScripts/API/TemperatureReportAPI.js"></script>

    <script type="text/javascript" src="~/AppScripts/Controllers/Report.js"></script>
    
</head>
<body>
   
    @*<div class="view-section-center">*@
        <div class="view-section-center-head">
            <div class="title-section-center-head">Report</div>
            <div class="logout-item-right-head">@Html.Partial("../Shared/_LoginPartial")</div>
        </div>
        <div id="report" class="view-section-center-container">

            <div class="report-input">
                <ul id="dateList">
                    <li>
                        <input type="text" class="datePicker" data-field="date" /><img class="deleteDatePicker" src='@Url.Content("~/Images/delete.png")' data-action="date-delete" />
                    </li>
                </ul>
            </div>
            <div id="chart" class="report-output"></div>

        </div>
    @*</div>*@
</body>
</html>





