@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/styles/jquery/base/jquery.ui.all.css" />
    <style type="text/css">
        html, body {
            margin: 0px;
            padding: 0px;
        }

        body {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff)); /* for webkit browsers */
            background: -moz-linear-gradient(top, #ccc, #fff); /* for firefox 3.6+ */
        }

        #main {
            display: block;
            white-space: nowrap;
            margin: 0px;
            padding: 0px;
        }

        #header {
            display: block;
            margin: 0px;
            padding: 0px;
            height: 30px;
            /*background: -moz-linear-gradient(center top, #57544A, #37342A) repeat scroll 0 0 transparent;*/
            z-index: 2;
        }

        #footer {
            display: block;
            margin: 0px;
            padding: 0px;
            height: 15px;
            /*background: -moz-linear-gradient(center top, #37342A, #57544A) repeat scroll 0 0 transparent;*/
            z-index: 2;
        }

        #inputSection {
            display: inline-block;
            min-width: 200px;
            min-height: 400px;
            width: 200px;
            margin: 4px;
            padding: 5px;
            border: 1px solid #aaa;
            background: #fff;
            vertical-align: top;
        }

        #outputSection {
            display: inline-block;
            min-height: 400px;
            min-width: 700px;
            margin: 4px;
            padding: 5px;
            border: 1px solid #aaa;
            background: #fff;
        }

        #container {
        }

        ul {
            display: inline-block;
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

            ul li {
                display: block;
                height: 30px;
            }

                ul li input[type="text"] {
                    margin: 0px 2px 0px 0px;
                }

        .deleteDatePicker {
            margin: 0px 0px 0px 5px;
        }
    </style>

    <script type="text/javascript" src="~/scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/scripts/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/scripts/ui/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/highcharts.js"></script>
    <script type="text/javascript" src="~/scripts/exporting.js"></script>

    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.webapi.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.datereport.js"></script>
    <script type="text/javascript" src="~/AppScripts/API/TemperatureReportAPI.js"></script>

    <script type="text/javascript">

        var temperatureReportApi = new TemperatureReportAPI();

        $(document).ready(function () {
            setSection();

            $("#main").dateReport();
        });

        $(window).resize(function () {
            setSection();
        });

        function setSection() {
            var outputWidth = $(window).innerWidth() - $("#inputSection").outerWidth() - 32;
            var inputHeight = $(window).innerHeight() - $("#header").outerHeight() - $("#footer").outerHeight() - 12;

            $("#outputSection").width(outputWidth);
            $("#outputSection").outerHeight(inputHeight);
            $("#inputSection").outerHeight(inputHeight);

        }

    </script>

</head>
<body>
    <div id="header"></div>
    <div id="main">
        <div id="inputSection">
            <ul id="dateList">
                <li><input type="text" class="datePicker" data-field="date" /><img class="deleteDatePicker" src="~/Images/delete.png" data-action="date-delete" /></li>
            </ul>
        </div>
        <div id="outputSection">
            <div id="container"></div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>