
@{
    ViewBag.Title = "Monitor";
    Layout = null;
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <script>
        var serviceUrl = '@Horizoft.Relay.Web.Providers.ConfigProvider.ServiceUrl';
    </script>

    <link rel="stylesheet" href="~/Styles/pagestructure.css">
    <link rel="stylesheet" href="~/Styles/menu_left2.css">
    <link rel="stylesheet" href="~/Styles/component_library.css">
    <link rel="stylesheet" href="~/Styles/page-input.css">
    <link rel="stylesheet" href="~/Styles/popup.css">
    <style>
        #numberOnly::-ms-clear {
            display: none;
        }
    </style>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.string.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/Utilities.API.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.menu.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.webapi.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.popup.js"></script>
    <script type="text/javascript" src="~/AppScripts/API/MonitorAPI.js"></script>
    <script type="text/javascript" src="~/AppScripts/DTO/DTMonitor.js"></script>
    <script type="text/javascript" src="~/AppScripts/Controllers/Monitor.js"></script>
    <script>
        $(document).ready(function () {
            $("#menu-left").loadLeftMenu('@Url.Content("~/Home/LeftMenu")', "blue-highlight");
        })
    </script>
</head>
<body>
    <div class="view-section-left">
        <div class="view-section-left-head">
            <div class="img-H">
                <img src='@Url.Content("~/Images/H4.png")' style="width:50px; height:40px;" alt="relay" />
                <div class="view-section-left-head-name">Relay</div>
            </div>
        </div>
        <div class="view-section-left-container">
            <div id="menu-left" class="menu-left">
            </div>
        </div>
    </div>
    <!--
    -->
    <div class="view-section-center">
        <div class="view-section-center-head">Monitor</div>
        <div class="view-section-center-container">
            <div class="card card-3">
                <table id="monitor-item" class="form-input">
                    <tbody>
                        <tr>
                            <td>Log URL</td>
                            <td>
                                <input type="text" data-field="logURL" />
                                <input type="text" data-field="id" hidden />
                                <input type="text" data-field="temperatureAlert" hidden />
                            </td>
                        </tr>
                        <!--<tr>
                            <td>Temperature Alert</td>
                            <td><input id="numberOnly" type="number" <!--onkeypress="return IsNumeric(event);-->
                        <!--" data-field="temperatureAlert" /></td>-->
                        <!--<td><input type="text" data-field="temperatureAlert" /></td>
                        </tr>-->
                    </tbody>
                </table>
                <div class="form-command-container">
                    <div class="form-command" style="float:left">
                        <button class="command-red" data-action="Monitor-Reset">Reset</button>
                    </div>
                    <div class="form-command" style="float:right">
                        <button id="btn-disabled" class="command-green" data-action="Monitor-Save">Save</button>
                        <button class="command-red" data-action="Monitor-Cancel">Cancel</button>
                    </div>
                </div>
            </div>
            <div id="popup-notification" class="popup-view">
                <div class="form-command-container">
                    <div data-field="popup_message"></div>
                    <div><br /></div>
                    <div data-field="host"></div>
                    <div class="form-command">
                        <button class="command-green">Close</button>
                    </div>
                </div>
            </div>
            <div id="popup-warning" class="popup-view">
                <div class="form-command-container">
                    <div data-field="popup_message"></div>
                    <div><br /></div>
                    <div class="form-command">
                        <button class="command-green" data-popup-event="true">Yes</button>
                        <button class="command-red">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

