<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="RELAY_LOG_URL" value="http://coolingcenter.bepetrothai.com/log.txt" />-->
    <add key="LOG_DATETIME_FORMAT" value="MM/dd/yyyy" />
    <add key="RELAY_LOG_LOCATION" value="log.txt" />
    <add key="SENSOR_CRITICALTEMPERATURE" value="20" />

    <add key="MAIL_MESSAGE_SENDER" value="hrmadmin@horizoft.com" />
    <add key="MAIL_MESSAGE_RECIPIENTS" value="potsavas.k@horizoft.com;earl@horizoft.com;natthajak.r@horizoft.com" />
    <add key="MAIL_MESSAGE_SUBJECT" value="เตือนอุณหภูมิห้อง Server ขึ้นสูง" />
    <add key="MAIL_MESSAGE_TEMPLATE_PATH" value="..\..\MailTemplate\MailMessage.html" />

    <add key="MAIL_SERVER_SMTP_HOST" value="smtp.live.com" />
    <add key="MAIL_SERVER_SMTP_PORT" value="587" />
    <add key="MAIL_SERVER_SMTP_USERNAME" value="horizoft@hotmail.com" />
    <add key="MAIL_SERVER_SMTP_PASSWORD" value="Vvib:vamN" />
    
    <!--<add key="MAIL_MESSAGE_SENDER" value="dc_air_alert@opt.stecon.co.th" />
    <add key="MAIL_MESSAGE_RECIPIENTS" value="potsavas.k@horizoft.com;earl@horizoft.com;natthajak.r@horizoft.com" />
    <add key="MAIL_MESSAGE_SUBJECT" value="เตือนอุณหภูมิห้อง Server ขึ้นสูง" />
    <add key="MAIL_MESSAGE_TEMPLATE_PATH" value="..\..\MailTemplate\MailMessage.html" />
    
    <add key="MAIL_SERVER_SMTP_HOST" value="sthq28.opt.stecon.co.th" />
    <add key="MAIL_SERVER_SMTP_PORT" value="25" />
    <add key="MAIL_SERVER_SMTP_USERNAME" value="dc_air_alert@opt.stecon.co.th" />
    <add key="MAIL_SERVER_SMTP_PASSWORD" value="dcairalert**" />

    <add key="MAIL_SERVER_EWS_HOST" value="" />
    <add key="MAIL_SERVER_EWS_USERNAME" value="abc@mailserver.com" />
    <add key="MAIL_SERVER_EWS_PASSWORD" value="wxyz1234" />-->

    <!--<add key="MAIL_SERVER_EWS_HOST" value="https://exchange.horizoft.com/EWS/exchange.asmx" />
    <add key="MAIL_SERVER_EWS_USERNAME" value="hrmadmin@horizoft.com" />
    <add key="MAIL_SERVER_EWS_PASSWORD" value="HRM_2013" />-->

  </appSettings>
</configuration>