<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="HorizoftRelayEntities" connectionString="metadata=
         res://*/HorizoftRelayModel.csdl|
         res://*/HorizoftRelayModel.ssdl|
         res://*/HorizoftRelayModel.msl;
         provider=System.Data.SqlClient; 
         provider connection string=&quot;data source=ASURA-PRL\SQLEXPRESS;
         initial catalog=HorizoftRelay;
         user id=sa;
         password=zaq1@0okm;
         MultipleActiveResultSets=True;
         App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="HorizoftRelayEntities" connectionString="metadata=
         res://*/HorizoftRelayModel.csdl|
         res://*/HorizoftRelayModel.ssdl|
         res://*/HorizoftRelayModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source=192.168.99.100;
         initial catalog=HorizoftRelay;
         user id=sa;
         password=zaq1@0okm;
         MultipleActiveResultSets=True;
         App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->
    <!--<add name="HorizoftRelayEntities" 
         connectionString="metadata=
         res://*/HorizoftRelayModel.csdl|
         res://*/HorizoftRelayModel.ssdl|
         res://*/HorizoftRelayModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source=192.168.10.134;
         initial catalog=HorizoftRelay;
         user id=sa;
         password=P@ssw0rd;
         multipleactiveresultsets=True;
         application name=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->
    <!--<add name="HorizoftRelayEntities" 
         connectionString="metadata=
         ~/bin/HorizoftRelayModel.csdl|
         ~/bin/HorizoftRelayModel.ssdl|
         ~/bin/HorizoftRelayModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source=ASURA-PRL\SQLEXPRESS;
         initial catalog=HorizoftRelay;
         user id=sa;
         password=zaq1@0okm;
         multipleactiveresultsets=True;
         application name=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="RELAY_LOG_URL" value="http://coolingcenter.bepetrothai.com/log.txt" />-->
    <add key="LOG_DATETIME_FORMAT" value="MM/dd/yyyy" />
    <!--<add key="RELAY_LOG_LOCATION" value="log.txt" />
    <add key="SENSOR_CRITICALTEMPERATURE" value="20" />-->
    <!--<add key="MAIL_MESSAGE_SENDER" value="hrmadmin@horizoft.com" />
    <add key="MAIL_MESSAGE_RECIPIENTS" value="potsavas.k@horizoft.com;earl@horizoft.com;natthajak.r@horizoft.com" />
    <add key="MAIL_MESSAGE_SUBJECT" value="เตือนอุณหภูมิห้อง Server ขึ้นสูง" />
    <add key="MAIL_MESSAGE_TEMPLATE_PATH" value="..\..\MailTemplate\MailMessage.html" />-->
    <!--<add key="MAIL_SERVER_SMTP_HOST" value="smtp.live.com" />
    <add key="MAIL_SERVER_SMTP_PORT" value="587" />
    <add key="MAIL_SERVER_SMTP_USERNAME" value="horizoft@hotmail.com" />
    <add key="MAIL_SERVER_SMTP_PASSWORD" value="Vvib:vamN" />-->
    <!--<add key="MAIL_MESSAGE_SENDER" value="dc_air_alert@opt.stecon.co.th" />
    <add key="MAIL_MESSAGE_RECIPIENTS" value="potsavas.k@horizoft.com;earl@horizoft.com;natthajak.r@horizoft.com" />
    <add key="MAIL_MESSAGE_SUBJECT" value="เตือนอุณหภูมิห้อง Server ขึ้นสูง" />
    <add key="MAIL_MESSAGE_TEMPLATE_PATH" value="..\..\MailTemplate\MailMessage.html" />
    
    <add key="MAIL_SERVER_SMTP_HOST" value="sthq28.opt.stecon.co.th" />
    <add key="MAIL_SERVER_SMTP_PORT" value="25" />
    <add key="MAIL_SERVER_SMTP_USERNAME" value="dc_air_alert@opt.stecon.co.th" />
    <add key="MAIL_SERVER_SMTP_PASSWORD" value="dcairalert**" />

    <add key="MAIL_SERVER_EWS_HOST" value="" />
    <add key="MAIL_SERVER_EWS_USERNAME" value="abc@mailserver.com" />
    <add key="MAIL_SERVER_EWS_PASSWORD" value="wxyz1234" />-->
    <!--<add key="MAIL_SERVER_EWS_HOST" value="https://exchange.horizoft.com/EWS/exchange.asmx" />
    <add key="MAIL_SERVER_EWS_USERNAME" value="hrmadmin@horizoft.com" />
    <add key="MAIL_SERVER_EWS_PASSWORD" value="HRM_2013" />-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>