body {
    margin: 0px;
    font-family: Arial,"HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
}

.view-section-left {
    /*display: inline-block;*/
    float: left;
    width: 220px;
    vertical-align: top;
}

.view-section-left-head {
    height: 25px;
    padding: 15px 10px;
    background: rgb(10, 90, 136);
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.img-H {
    margin: -0px 10px 15px 15px;
}

.view-section-left-head-name {
    font-size: 35px;
    font-weight: 400;
    margin-left: 50px;
    margin-top: -45px;
    font-family: Arial, Helvetica, sans-serif;
}

.view-section-left-container {
    overflow: auto;
    padding: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.view-section-center {
    /*display: inline-block;*/
    width: auto;
    vertical-align: top;
}

.view-section-center-head {
    height: 25px;
    padding: 20px 15px 10px 15px;
    background: rgb(23, 115, 169);
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    /*Edit shadow head nav*/
    box-shadow: 3px 1px 10px rgba(37,37,37,0.66);
    position: static;
    /*width:87%;*/
}
.title-section-center-head {
    margin-left:15pc;
}

/*------- logout section ----------------*/
.logout-item-right-head {
    list-style-type: none;
    font-size: 14px;
    float: right;
    margin-top:-52px;
    font-weight:300;
}
.navbar-right {
    list-style-type: none;
}
.navbar-right li a[title="Admin"] {
        color: #a7d6f1;
        float: left;
        font-size: 12px;
        margin-top: 10px;
}
.navbar-right li a[title="Admin"]:hover {
       
        font-weight: bold;
        transition-duration: 0.3s;
 }
.navbar-right li a[href="javascript:document.getElementById('logoutForm').submit()"] {
        color: white;
        margin-top: 10px;
        float: right;
        font-size: 12px;

}
.navbar-right li a[href="javascript:document.getElementById('logoutForm').submit()"]:hover {
      
       font-weight:bold;
       transition-duration:0.3s;
 } 

.view-section-center-container {
    height: 100vh;
    /*overflow: scroll;*/
    /*padding: 50px;*/
    background: #f5f5f5;
    text-align: center;
    /*margin-top:60px;*/
}
/*-------------Admin page--------------------------*/
.card {
    display: inline-block;
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    padding: 15px;
}
.card-admin {
    display: inline-block;
    background: #fff;
    border-radius: 2px;
    margin: 2rem;
   padding:5px;
    font-size:13px;
}

.table-admin {
    color: #808080;
    width: 100%;
    border-collapse: collapse;
    float: left;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
   
}
.table-admin th:nth-child(1) {
    width: 150px;
   
}
.table-admin th:nth-child(2) {
    min-width: 150px;
    text-align: left;
}
.table-admin tr th {
   padding-bottom:10px;
    color: #000000;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    font-weight: 400;
    }
.table-admin tr td {
    padding: 12px 0px 7px 20px;
    vertical-align: top;
}
.btn-create a {
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
    float: right;
    margin-right:30px;
    margin-bottom:15px;
    margin-top:15px;
   
}
.btn-create a:hover {
     background-color: #4CAF50;
     color: white;
     transition-duration:0.3s;

}

    
 /*---------------------------------*/



.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
 .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

 }

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}













/*-----------Edit User page-----------------*/
.form-horizontal-create {
    text-align: center;
    height: 100vh;
}

.form-group-create {
    background-color: white;
    display: inline-block;
    margin: 2rem;
    padding: 30px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
}


.form-input {
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.form-input td {
    padding: 10px;
}

.form-input td label {
    padding: 10px;
    display: table-cell;
    vertical-align: inherit;
 }

.form-input td input {
    width: 400px;
    padding: 10px;
    font-size: 13px;
    }

.form-input tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.col-md-offset-2-create {
    padding: 10px;
}

.col-md-offset-2-create input[type="submit"] {
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
 }

 .col-md-offset-2-create input[type="submit"]:hover {
     background-color: #4CAF50;
     color: white;
 }

.col-md-offset-2-create a {
     background-color: #ffffff;
     border: 2px solid #1773a9;
     color: black;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 13px;
     margin: 4px 2px;
     -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
     cursor: pointer;
 }

.col-md-offset-2-create a:hover {
     background-color: #1773a9;
     color: white;
 }
.form-group-create h4 {
    font-size: 13px;
    font-weight: bold;
}
/*-------------------------------*/