
@{
    ViewBag.Title = "TemperatureDaily";
    Layout = null;
}

<html>
<head>
    <script>
        var serviceUrl = '@Horizoft.Relay.Web.Providers.ConfigProvider.ServiceUrl';
        var menuUrl = '@Horizoft.Relay.Web.Providers.ConfigProvider.MenuUrl';
    </script>

    <link rel="stylesheet" href="~/Styles/pagestructure.css">
    <link rel="stylesheet" href="~/Styles/menu_left2.css">
    <link rel="stylesheet" href="~/Styles/component_library.css">
    <link rel="stylesheet" href="~/styles/jquery/base/jquery.ui.all.css" />
    <link rel="stylesheet" href="~/styles/page-report.css" />

    <script type="text/javascript" src="~/scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/scripts/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/scripts/ui/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/highcharts.js"></script>
    <script type="text/javascript" src="~/scripts/exporting.js"></script>

    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.string.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.menu.js"></script>

    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.webapi.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.datereport.js"></script>
    <script type="text/javascript" src="~/AppScripts/API/TemperatureReportAPI.js"></script>

    <script type="text/javascript" src="~/AppScripts/Controllers/Report.js"></script>

</head>
<body>
    <div class="view-section-left">
        <div class="view-section-left-head">
            <div class="img-H">
                <img src="~/Images/H4.png" style="width:50px; height:40px;" alt="relay" />
                <div class="view-section-left-head-name">Relay</div>
            </div>
        </div>
        <div class="view-section-left-container">
            <div id="menu-left" class="menu-left">
            </div>
        </div>
    </div>
    <!--
    -->
    <div class="view-section-center">
        <div class="view-section-center-head">Report</div>
        <div id="report" class="view-section-center-container">
            <!--<div class="card card-3">-->
            <div class="report-input">
                <ul id="dateList">
                    <li>
                        <input type="text" class="datePicker" data-field="date" /><img class="deleteDatePicker" src="~/Images/delete.png" data-action="date-delete" />
                    </li>
                </ul>
            </div>
            <div id="chart" class="report-output"></div>
            <!--</div>-->
        </div>
    </div>
</body>
</html>





