
@{
    ViewBag.Title = "Mail";
    Layout = null;
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/Styles/pagestructure.css">
    <link rel="stylesheet" href="~/Styles/menu_left2.css">
    <link rel="stylesheet" href="~/Styles/component_library.css">
    <link rel="stylesheet" href="~/Styles/jquery-te-1.4.0.css">
    <link rel="stylesheet" href="~/Styles/page-input.css">
    <link rel="stylesheet" href="~/Styles/popup.css">
    <style>
        .jqte {
            margin: 0px;
            border: 0px solid rgba(0, 0, 0, 1);
        }
    </style>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-te-1.4.0.min.js"></script>

    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/jquery.utilities.string.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/Utilities.API.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.menu.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.webapi.js"></script>
    <script type="text/javascript" src="~/AppScripts/Utilities/horizoft.jquery.popup.js"></script>
    <script type="text/javascript" src="~/AppScripts/API/MailAPI.js"></script>
    <script type="text/javascript" src="~/AppScripts/API/MonitorAPI.js"></script>
    <script type="text/javascript" src="~/AppScripts/DTO/DTMail.js"></script>
    <script type="text/javascript" src="~/AppScripts/DTO/DTMonitor.js"></script>
    <script type="text/javascript" src="~/AppScripts/Controllers/Mail.js"></script>

</head>

<body>
    <div class="view-section-left">
        <div class="view-section-left-head">
            <div class="img-H">
                <img src="~/Images/H4.png" style="width:50px; height:40px;" alt="relay" />
                <div class="view-section-left-head-name">Relay</div>
            </div>
        </div>
        <div class="view-section-left-container">
            <div id="menu-left" class="menu-left">
            </div>
        </div>
    </div>
    <!---->
    <div class="view-section-center">
        <div class="view-section-center-head">Mail</div>
        <div class="view-section-center-container">
            <div class="card card-3">
                <table id="mail-input" class="form-input">
                    <tbody>
                        <tr>
                            <td>Temperature Alert</td>
                            <td>
                                <input type="text" class="form-input-monitor" />C
                            </td>

                        </tr>
                        <tr>
                            <td>Sender</td>
                            <td>
                                <input type="text" data-field="sender" />
                                <input type="text" data-field="id" hidden />
                            </td>
                        </tr>
                        <tr>
                            <td>Recipents</td>
                            <td><input type="text" data-field="recipients" /></td>
                        </tr>
                        <tr>
                            <td>Subject</td>
                            <td><input type="text" data-field="subject" /></td>
                        </tr>
                        <tr>
                            <td>Message</td>
                            <td>
                                <!--<div class="form-input-message" data-field="message"></div>-->
                                <textarea class="form-input-message" data-field="message"></textarea>
                                <!--<textarea name="textarea" class="jqte-test"><b>My contents are from <u><span style="color:rgb(0, 148, 133);">TEXTAREA</span></u></b></textarea>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-command-container">
                    <div class="form-command" style="float:left">
                        <button class="command-red" data-action="Mail-Reset">Reset</button>
                    </div>
                    <div class="form-command" style="float:right">
                        <button id="btn-disabled" class="command-green" data-action="Mail-Save">Save</button>
                        <button class="command-red" data-action="Mail-Cancel">Cancel</button>
                    </div>
                </div>
            </div>
            <div id="popup-notification" class="popup-view">
                <div class="form-command-container">
                    <div data-field="popup_message"></div>
                    <div><br /></div>
                    <div data-field="host"></div>
                    <div class="form-command">
                        <button class="command-green">Close</button>
                    </div>
                </div>
            </div>
            <div id="popup-warning" class="popup-view">
                <div class="form-command-container">
                    <div data-field="popup_message"></div>
                    <div><br /></div>
                    <div class="form-command">
                        <button class="command-green" data-popup-event="true">Yes</button>
                        <button class="command-red">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


